<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Home (Score)</a>
        <a class="navbar-brand" href="{% url 'analysis_results' %}">Stock Analysis</a>
        <a class="navbar-brand" href="{% url 'combined_dashboard' %}">Stock Combined</a>
        <a class="navbar-brand" href="{% url 'stock_symbol' %}">Stock Symbol Search</a>
        <a class="navbar-brand" href="{% url 'stock_list' %}">Stock List</a>
        <a class="navbar-brand" href="{% url 'stock_us_list' %}">U.S. Stock List</a>
        <a class="navbar-brand" href="{% url 'stock_custom_list' %}">Custom Stock List</a>
        <a class="navbar-brand" href="{% url 'backtest_report' %}">A.I. Report</a>
    </div>
</nav>