{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Watchlist</title>
    <style>
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
        .nav-link { display: inline-block; margin-bottom: 20px; text-decoration: none; color: blue; }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    {% include 'includes/navbar.html' %}
    <h1>Home</h1>

</div>

<script>

</script>
</body>
</html>